{% extends "base.html" %}

{% block content %}

<div class="campus-wrapper">

    <div class="campus-card">

        <h2>Bienvenido, {{ session.user_name }}</h2>

        <p><strong>Email:</strong> {{ session.user_mail }}</p>

        <a href="{{ url_for('logout') }}" class="logout-btn">Cerrar sesión</a>

    </div>

    

<!-- <div>
  <h2>Foto del día: {{ titulo }}</h2>

  {% if imagen %}
      <img src="{{ imagen }}" alt="{{ titulo }}" style="max-width: 100%; height: auto;">
  {% else %}
      <p>No se pudo cargar la imagen de la NASA.</p>
  {% endif %}
 </div> -->


{% endblock %}
