{% extends "base.html" %}
{% block content %}

<div class="left-panel">
    <h2>BIENVENIDO</h2>
    <p>
        Nos alegra mucho tenerte aquí. 
    </p>
    <p>
        Si necesitas ayuda, no dudes en contactarnos.
    </p>
</div>

<div class="right-panel">

    <h2>Login</h2>

    <form method="POST" class="card">

        <div class="input-box">
            <input type="text" name="username" placeholder="Username" required>
            <span>👤</span>
        </div>

        <div class="input-box">
            <input type="password" name="password" placeholder="Password" required>
            <span>🔒</span>
        </div>

        <button>Login</button>

    </form>

    <div class="link-btn">
        ¿No estás registrado?
        <a href="{{ url_for('register') }}">Sign up</a>
    </div>

</div>

{% endblock %}
